.App {
  text-align: center;
}

.btn {
  margin-top: 3rem;
  padding: 5px 10px;
  cursor: pointer;
}
.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}
.round {
  border: 1px solid gray;
  border-radius: 50%;
  padding: 20px;
}